* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;

}


body, html {
    background: #DB7D00;
    font-family: sans-serif;
    color: #DB7D00;
}

h1 {
   font-size: 45px;
   padding: 25px 0px
}

h2 {
    font-size: 20px;
}
.container {
    background: white;
    margin: auto;
    min-height: 100vh;
    width: 800px;
    text-align: center;
}

.square {
    width: 200px;
    height: 200px;
    border-style: solid;
    border-color: #DB7D00;
}

.grid {
    margin:auto;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-content: center;
    height: 618px;
    width: 618px;
}


.mole {
    background: url('mole.png');
    background-size: cover;
}